@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(22, 22, 22);
    padding: 1rem 2rem 2rem 2rem;
    font-family: "Saira Semi Condensed", sans-serif;
}

a {
    text-decoration: none;
    color: #C0c0c0;
    font-size: 1.5rem;
}

p {
    color: #C0c0c0;
    font-size: 2rem;
}

.dFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexCol {
    display: flex;
    flex-direction: column;

}

.col2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

header {
    border: 1.267198085784912px solid rgb(43, 43, 43);
    background-color: rgb(33, 33, 33);
    height: 100%;
    width: 100%;
    border-radius: 12px;
    padding: .5rem 2rem;
    justify-content: space-between !important;
}

.navPages {
    gap: 2rem;
}

.navPages i{
    font-size: 2rem;
    color: #8080805e;
    transition: all .2s ease-in-out;
}

.activenav{
    color: rgba(255, 255, 255, 0.733) !important;
}

.activea{
    background-color: #2c2c2c;
}
.navPages a {
    font-size: 2.5rem;
    padding: 8px;
    border-radius: 13px;
    transition: all .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navPages a:hover {
    background-color: #2c2c2c;
}
.navPages a:hover i{
    color: rgba(255, 255, 255, 0.733);
}
.btngroup {
    background-color: rgb(56, 56, 56);
    color: white !important;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 5px;
    padding: .8rem 1rem;
    gap: .5rem;
    transition: all .2s ease-in-out;
    white-space: nowrap;
}

.btngroup i{
    font-size: 1.2rem;
}
.btngroup:hover,
.copyBtn:hover,
.projectsSection .col2 a:hover,
.socials a:hover {
    box-shadow: 0px 0px 1px 5px #2c2c2c;
}

.mainContainer {
    border: 1.267198085784912px solid rgb(43, 43, 43);
    background-color: rgb(33, 33, 33);
    border-radius: 12px;
    padding: 2rem 1rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.heroSection {
    padding: 0 2.5rem;
}

.hireHeader {
    justify-content: space-between !important;
}

.lightbtngr {
    font-size: 2.2rem;
    font-weight: 500;
    gap: 1rem;
    color: #C0c0c0;
}

.greenbtngr {
    font-size: 1.4rem;
    gap: .5rem;
    font-weight: 600;
    color: rgb(3, 151, 84);
    background-color: rgb(40 199 128 / 15%);
    padding: .5rem 1rem;
    border-radius: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.heroSection h1, .contactSection h1 {
    font-size: 4rem;
    color: white;
}

.sectionstart {
    justify-content: space-around;
    margin-top: 2.5rem;
}
.texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.twobtns {
    margin-top: 2.5rem;
    justify-content: start;
    gap: 1.5rem;
}

.copyBtn {
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 5px;
    padding: .6rem .8rem;
    gap: .5rem;
    transition: all .2s ease-in-out;
    border: 1px solid rgb(70, 70, 70);
    white-space: nowrap;
}

.sectionstart img {
    width: 250px;
    height: auto;
    border-radius: 50%;
    border: 10px solid rgb(43, 43, 43);
}

.aboutSection{
    background-color: #2c2c2c;
    padding: 2.5rem;
    border-radius: 12px;
}

.aboutSection .aboutContent img, .skillsSection .skillContent img{
    border-radius: 13px;
    width: 300px;
}

.aboutSection .aboutContent{
    justify-content: start;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem 1.5rem 0 0;
}

.aboutContent .studyYear{
    font-size: 2.2rem;
    color: darkgray;
    font-weight: 600;
}

.aboutContent .flexCol{
    gap: 2rem;
}

.skillsSection{
    background-color: #2c2c2c;
    padding: 2.5rem;
    border-radius: 12px;
}
.skillContent{
    justify-content: space-between;
    align-items: self-start;
    gap: 2.5rem;
}
.skillContent .flexCol{
    justify-content: start;
    gap: 1.5rem;
}
.skillContent .progress{
    background-color: rgb(255 255 255 / 63%);
    border-radius: 1.4rem;
    height: 1.4rem;
    width : 600px;
}

.skillContent{
    margin-top: 1rem;
}
.skillContent p{
    color: lightgray;
}
.progress .bar-1{
    width: 90%;
}
.progress .bar-2{
    width: 80%;
}
.progress .bar-3{
    width: 75%;
}
.progress .bar-4{
    width: 85%;
}
.progress .bar-5{
    width: 55%;
}
.progress .percent {
    opacity: 0;
    width : 100%;
    height : 1.4rem;
    border-radius : 1.4rem;
    background: gray;
    animation: progress 1s ease-in 1s forwards;
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    padding: .5rem;   
  }
    
  
  @keyframes progress {
    0% {
      width : 0%;
      opacity : 0;  
    }
    100% {
        width: 100%;
        opacity: 1;
    }
  }
  
.projectsSection {
    background-color: #2c2c2c;
    padding: 2.5rem;
    border-radius: 12px;
    gap: 1.5rem;
}

.projectsSection .col2{
    gap: 2rem;
}
.projectsSection .col2 a {
    border: 1.267198085784912px solid rgb(230, 230, 230);
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 1.5rem;
    gap: 1.5rem;
    justify-content: start;
    transition: all .2s ease-in-out;
}

.projectsSection .col2 a img {
    width: 200px;
    border-radius: 13px;
}

.phead {
    color: white;
    font-weight: 500;
    font-size: 2.6rem;
}

.worktog {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.whead {
    color: white;
    font-size: 3rem;
    font-weight: 600;
}

.socialSection{
    background-color: #2c2c2c;
    padding: 2.5rem;
    border-radius: 12px;
    justify-content: space-around;
}
.socials{
    display: flex;
    gap: 1.5rem;
}

.socials a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.267198085784912px solid rgba(43, 43, 43, 0.726);
    background-color: rgb(22, 22, 22);;
    border-radius: 50%;
    padding: 1rem;
    transition: all .2s ease-in-out;
}
.socials i{
    font-size: 2rem;
    color: white;
}
footer{
    gap: 1rem;
}

.copyright{
    background-color: #2c2c2c;
    padding: 2.5rem;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
}


.contactSection{
    padding: 0 2.5rem;
}

.contactSection .form{
    gap: 1.5rem;
}
.contactSection .form input{
    border: none;
    width: 50%;
    outline: none;
    background-color: #2c2c2c;
    font-family: "Saira Semi Condensed", sans-serif;
    padding: 1.6rem;
    border-radius: 12px;
    color: white;
    font-size: 1.6rem;
}
.form textarea{
    font-size: 1.6rem;
    border: none;
    outline: none;
    background-color: #2c2c2c;
    color: white;
    font-family: "Saira Semi Condensed", sans-serif;
    border-radius: 12px;
    padding: 1.6rem;
    resize: none;
}
.submit{
    border: none;
    outline: none;
    background-color: #2c2c2c;
    font-family: "Saira Semi Condensed", sans-serif;
    padding: 1.6rem;
    border-radius: 12px;
    color: white;
    font-size: 1.6rem;
    text-align: center;
}
@media (max-width:1049px) {
    .skillContent .flexCol{
        width: 100%;
    }
    .skillContent .progress{
        width: auto;
    }
}
@media (max-width:860px) {
    body{
        padding: 1rem !important;
    }
    header{
        padding: 1rem;
    }
    .navPages{
        gap: 1rem;
    }
    .skillContent .img, .aboutContent .img{
       width: auto;
      justify-content: center;
    }
    .aboutSection .aboutContent img, .skillsSection .skillContent img{
       width: 100%;
    }
    .texts h1{
        font-size: 3.3rem;
    }
    .col2{
        grid-template-columns: 1fr;
    }
    .sectionstart{
        justify-content: center;
    }
    .sectionstart .img{
        width: -webkit-fill-available;
    }
    .sectionstart img{
        width: 80%;
    }
    .sectionstart .texts{
        order: 2;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .socialSection{
        justify-content: center;
        gap: 1.5rem;
    }
    .socials{
        gap: .5rem;
    }
    .socials i{
        font-size: 1.5rem;
    }
    .greenbtngr{
        border-radius: 50%;
        padding: 1rem;
    }
    .greenbtngr span{
        display: none;
    }
    .lightbtngr{
        font-size: 2rem;
        white-space: nowrap;
    }
    .aboutContent p{
        font-size: 1.6rem;
    }
    .aboutContent .studyYear{
        font-size: 1.8rem;
    }
    .lightbtngr svg{
        width: 8px;
        height: 8px;
    }
    .skillContent .flexCol p{
        font-size: 1.6rem;
    }
    .heroSection, .contactSection{
        padding: 0 1.5rem;
    }
    .aboutSection, .skillsSection{
        padding: 1.5rem;
    }
    .aboutContent{
        flex-direction: column;
        padding: 1.5rem 0 0 0 !important;
    }
    .skillContent{
        flex-direction: column-reverse;
        margin: 0;
        padding: 1.5rem 0 0 0 !important;
    }
}
