.modal-content {
    background-color: #2c2c2c;
    color: #fff;
  }
  
  .modal-header h5 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .project-details p {
    margin-bottom: 10px;
    border: 1px solid #444;
    padding: 10px;
    border-radius: 5px;
  }
  
  .project-details a {
    color: #fff;
    text-decoration: underline;
  }
  
  .border {
    padding:  0 !important;
  }
.modal-xl{
    height: 100vh !important;
    margin: auto;
}  

.modal-content{
    height: 100vh !important;
}

.modal-body{
    font-size: 70%;
}
.cursor {
    font-weight: bold;
    font-size: 24px;
    color: #000; /* Adjust the color to fit your theme */
    animation: blink 0.7s steps(1) infinite;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  .testimonials-box {
    padding: 20px;
    background: #f5f5f5;
    text-align: center;
    border: 1px solid #ddd;
}
.t-lead img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.owl-dot span {
    width: 12px;
    height: 12px;
    background-color: #e0e0e0 !important; /* Light color for non-active dots */
    border-radius: 50%;
    display: block;
    transition: background-color 0.3s, width 0.3s, height 0.3s;
}

.owl-dot.active span {
    background-color: #2c2c2c; /* Main color for active dots */
    width: 16px;
    height: 16px;
}

.owl-dot:hover span {
    background-color: #555; /* Darker on hover */
    transform: scale(1.2); /* Scale up the dot on hover */
}

/* Navigation Arrows Styling */
.owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.owl-nav .owl-prev, .owl-nav .owl-next {
    background-color: #2c2c2c;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.owl-nav .owl-prev:hover, .owl-nav .owl-next:hover {
    background-color: #555; /* Darker on hover */
}
.owl-item{
    cursor: pointer !important;
}

